version: '3.9'
services:
  web:
    build: .
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/goldburgauto?schema=public
      - NEXTAUTH_SECRET=dev-secret
      - ADMIN_PASSWORD=dev-admin
      - NEXTAUTH_URL=http://localhost:3000
    depends_on:
      - db
  db:
    image: postgres:15
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=goldburgauto
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
